<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :user_name, placeholder: 'Username', id: :comment_user_name, class: "form-control comment-input"  %>
  </div>

  <div class="field">
    <%= form.text_area :body, placeholder: 'Enter your comment...', id: :comment_body, class: "form-control comment-input mceNoEditor" %>
  </div>

  <div class="field">
    <%= form.hidden_field :article_id, id: :comment_article_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
