<div class="card mb-3">
  <div class="card-block px-4 py-2">
    <h1><%= @article.title %></h1>
    <div class="subheading-date">
      <h2><%= @article.subheading %></h2>
      <h3 class="date">Posted on <%= @article.created_at.to_s.first(-13) %></h2>
    </div>
    <p><%= @article.article_body %></p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-block px-4 py-2">
    <h2>Comments</h2>
      <ul>
        <% @comments.each do |comment| %>
          <li class="comment">
          <strong><%= comment.user_name %></strong>
          <br>
          <p><%= comment.body %></p>
        </li>
        <% end %>
      </ul
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
