<h1 class="table-page-title">Coaches</h1>

<table style="width:100%">
  <tbody>
    <tr>
      <td></td>
      <td class="cell-container">
        <% coach_idx = @coaches.find_index do |coach| coach.coach_position == 'HC'  %>
          <div class="coach-card-container">
            <%= image_tag(coach.picture_url, width: 60, rel: "popover", data: {
              toggle: "popover",
              trigger: "hover",
              placement: "top",
              container: "body",
              title: "#{coach.first_name} #{coach.last_name}",
              content: "#{image_tag(coach.picture_url)}<br>
              #{coach.coach_position} <br>
              Strengths: #{coach.strength}<br>
              Weaknesses: #{coach.weakness}<br>
              #{coach.article}"
            }) if coach.picture.present? %>
            <p><%= coach.last_name %></p>
          </div>
         <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="cell-container">
        <% coach_idx = @coaches.find_index do |coach| coach.coach_position == 'OC'  %>
          <div class="coach-card-container">
            <%= image_tag(coach.picture_url, width: 60, rel: "popover", data: {
              toggle: "popover",
              trigger: "hover",
              placement: "top",
              container: "body",
              title: "#{coach.first_name} #{coach.last_name}",
              content: "#{image_tag(coach.picture_url)}<br>
              #{coach.coach_position} <br>
              Strengths: #{coach.strength}<br>
              Weaknesses: #{coach.weakness}<br>
              #{coach.article}"
            }) if coach.picture.present? %>
            <div><%= coach.last_name %></div>
          </div>
         <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% coach_idx = @coaches.find_index do |coach| coach.coach_position == 'DC'  %>
          <div class="coach-card-container">
            <%= image_tag(coach.picture_url, width: 60, rel: "popover", data: {
              toggle: "popover",
              trigger: "hover",
              placement: "top",
              container: "body",
              title: "#{coach.first_name} #{coach.last_name}",
              content: "#{image_tag(coach.picture_url)}<br>
              #{coach.coach_position} <br>
              Strengths: #{coach.strength}<br>
              Weaknesses: #{coach.weakness}<br>
              #{coach.article}"
            }) if coach.picture.present? %>
            <div><%= coach.last_name %></div>
          </div>
         <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-container">
  <% @articles.each do |article| article.coach == true %>
    <div class="card mb-3">
      <div class="card-block px-4 py-2">
        <div class="article-index-container">
          <div class="article-index-text-container">
            <h1><%= link_to article.title, article_path(article), class: 'card-title py-2' %></h1>
            <div class="card-subtitle"><%= article.subheading %></div>
          </div>
          <%= image_tag article.picture_url(:thumb), class: 'article-index-thumbnail' if article.picture.present? %>
        </div>
      </div>
    </div>
  <% end %>
</div>

