<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :player_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :player_last_name %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :player_position %>
  </div>

  <div class="field">
    <%= form.label :article %>
    <%= form.text_field :article, id: :player_article %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :player_picture %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.text_field :strength, id: :player_strength %>
  </div>

  <div class="field">
    <%= form.label :weakness %>
    <%= form.text_field :weakness, id: :player_weakness %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
