<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table style="width:100%">
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'FS' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60, rel: "popover", data: { toggle: "popover", trigger: "hover", placement: "top", content: "testing this", container: "body" }) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'SS' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'RCB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'LCB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'SLB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'MLB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'WLB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr> 
    <tr>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'RDE' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'NT' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'DLT' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'LDE' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'LWR' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'LT' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'LG' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'C' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'RG' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'RT' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'RWR' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'TE1' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'QB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'TE2' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="cell-container">
        <% pos_idx = @positions.find_index { |plr| plr[0].position == 'HB' } %>
          <% @positions[pos_idx].each_with_index do |player, index| %>
          <div class="pl-card-container-<%= index %>">
            <div class="pl-name"><%= player.last_name %></div>
            <%= image_tag(player.picture_url, width: 60) if player.picture.present? %>
          </div>
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
